{# content/templates/content/ugc_carousel.html #}
<div class="swiper ugc-swiper" data-swiper="ugc">
    <div class="swiper-wrapper">
        {% for photo in photos %}
            <div class="swiper-slide">
                <img src="{{ photo.photo.url }}"
                     alt="UGC фото {{ forloop.counter }}"
                     loading="lazy"
                     style="width: 100%; height: auto; display: block; object-fit: cover;">
            </div>
        {% endfor %}
    </div>

    <!-- Навигация -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
