SECRET_KEY=your-super-long-secret-key-here-generate-with-django
DEBUG=False
ALLOWED_HOSTS=domen.ru,www.domen.ru,1.1.1.1
DB_NAME=DBname
DB_USER=DB_user
DB_PASSWORD=your-strong-db-password
DB_HOST=localhost
DB_PORT=5432
CSRF_COOKIE_HTTPONLY=False
CSRF_TRUSTED_ORIGINS=https://domen.ru,https://www.domen.ru,https://*.domen.ru
SECURE_SSL_REDIRECT=True
